# Virtual environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases and Local Instance folders
instance/
*.db
*.sqlite3

# OS specific files (optional but helpful)
.DS_Store
Thumbs.db

# Documentation
desription.md